# Python
function py() {
    python
}

# System
function pac(){
    sudo pacman "$@"
}

function v() {
    nvim
}

function relsh(){
    source ~/.zshrc
}

function ll(){
    lsd -lh --group-dirs=first
}

function la(){
    lsd -a --group-dirs=first
}

function l(){
    lsd --group-dirs=first
}

function lla(){
    lsd -lha --group-dirs=first
}

function ls(){
    lsd --group-dirs=first
}

function cat(){
    bat
}

function cls(){
    clear
}

function man() {
    env \
    LESS_TERMCAP_mb=$'\e[01;31m' \
    LESS_TERMCAP_md=$'\e[01;31m' \
    LESS_TERMCAP_me=$'\e[0m' \
    LESS_TERMCAP_se=$'\e[0m' \
    LESS_TERMCAP_so=$'\e[01;44;33m' \
    LESS_TERMCAP_ue=$'\e[0m' \
    LESS_TERMCAP_us=$'\e[01;32m' \
    man "$@"
}